.daml/
generated/*
!generated/npm-manifest.txt
!generated/ocp-factory-contract-id.json
!generated/reports-factory-contract-id.json
!generated/paymentStreams-factory-contract-id.json
lib/
*.dar

.env

.DS_Store

node_modules/
package-lock.json
yarn.lock