[submodule "libs/splice"]
	path = libs/splice
	url = https://github.com/hyperledger-labs/splice.git
[submodule "libs/Open-Cap-Format-OCF"]
	path = libs/Open-Cap-Format-OCF
	url = https://github.com/Open-Cap-Table-Coalition/Open-Cap-Format-OCF.git
